# Named instance example: DB_SERVER=localhost\SQLEXPRESS
DB_SERVER=localhost
DB_DATABASE=example_database
DB_USERNAME=example_user
DB_PASSWORD=example_password
DB_DRIVER=ODBC Driver 17 for SQL Server
DB_TRUSTED_CONNECTION=false
